<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Sale Record</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>

  <body>
  <h1>Sale Record</h1>

  <p>
    Merchant Name: <%= merchant.merchant_name %>
  <p>
  
  <table cellspacing="1" cellpadding="5" border="1">
    <tr>
    
    <th>id</th>
    <th>Date</th>
    <th>Batch Id</th>       
    <th>Type</th>
    <th>Qty</th>  
    <th>Amount</th>
  
  </tr>

  <% data.forEach(function(sale){ %>
     <tr>
      
       <td><%= sale.id %></td>
       <td><%= sale.date %></td>
       <td><%= sale.batch_id %></td>
       <td><%= sale.type %></td>
       <td><%= sale.qty %></td>
       <td><%= sale.amount %></td>      
       
     
      
     </tr>
  <% }); %>


  

	</table>

 
 

  </body>

</html>